/* @import '~antd/dist/antd.css'; */
*{
    padding:0;
    margin:0;
}
body{
    background-color: #ddd;
}
.header{
    height: 50px;
    background-color: #444;
}
.header header{
    width: 1200px;
    line-height: 50px;
    margin:0 auto;
}
.header header a{
    margin: 0 20px;
    color: white;
    text-decoration: none;
}
.header img{
    width: 120px;
    margin-top: 10px;
}

/*content*/

.main{
    width: 1200px;
    margin:30px auto 0;
}
.content{
    width: 900px;
    float: left;
    /* border:2px solid red; */
    background-color: white;
}
.slider{
    width: 270px;
    height: 500px;
    float: right;
    background-color: seagreen;
}

/* home页面 */
.header2{
    width: 900px;
    height: 40px;
    background-color: rgb(236, 236, 229);
}
.link{
    padding-left: 30px;
    color: yellowgreen;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
}

.route{
    background-color: red;
}

/* 资讯 */
.content1{
    border-bottom:1px solid #ddd;
    height: 40px;
    text-overflow: ellipsis;
}
.content2{
    max-width: 70%;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    /* float: left; */
    line-height: 40px;
    text-decoration: none;
    padding-left: 10px;

    text-overflow: ellipsis;
    
}
.photo{
    width: 30px;
    height: 30px;
    float: left;
    padding-top: 5px;
}
.num1{
    color: #9e78c0;
    font-size: 14px;
    line-height: 2em;
    padding-left: 5px;
    padding-top: 8px;
    width: 70px;
    float: left;
    text-align: center;
}
.num2{
    font-size: 10px;
    color: #b4b4b4;
}
.time{
    /* text-align: right; */
    min-width: 50px;
    /* display: inline-block; */
    float:right;
    white-space: nowrap;
    color: #778087;
    font-size: 11px;
    line-height: 2em;
}
.login{
    width: 150px;
    height: 50px;
    background-color: seagreen;
    
}
.p{
    color: white;
    text-decoration: none;
}

.pages{
    height: 20px;
    background: white;
}
.pages1{
    display:inline-block;
    height: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    text-align: center;
    /* padding-top: 9px; */
    font-size: 15px;
}
.bottom{
    width: 100%;
    height: 50px;
    background: #ccc;
}
.nr{
    list-style-type:none;
    padding-left: 20px;
}